# No Databricks, configure estes valores no Job ou cluster.
AWS_REGION=us-east-2
S3_BUCKET=carlos-ifood-case-991416557162-us-east-2-an
S3_BASE_PREFIX=

# Formato: YYYY/MM
DATE_FROM=2023/01
DATE_TO=2023/05

# Opcional; se vazio, um identificador será gerado.
RUN_ID=
